<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} start navbar {% endcomment %}
    <h3 align="center">Create navbar here</h3>
    <hr>
    {% comment %} end navbar {% endcomment %}

    {% block content %}
    
    {% endblock content %}

    {% comment %} start footer {% endcomment %}
    <hr>
    <h3 align="center">Create footer here</h3>
    {% comment %} end footer  {% endcomment %}
</body>
</html>